<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.zhicloud.ms.mapper.VpcBaseInfoMapper">

	<resultMap type="com.zhicloud.ms.vo.VpcBaseInfoVO" id="VpcBaseInfoVO">
		<id     column="id"               property="id" />
		<result column="real_vpc_id"      property="realVpcId" /> 
		<result column="user_id"          property="userId" />
		<result column="create_time"      property="createTime" />
		<result column="modified_time"    property="modifiedTime" />
		<result column="name"             property="name" />
		<result column="display_name"     property="displayName" />
		<result column="description"      property="description" />
		<result column="status"           property="status" />
		<result column="host_amount"      property="hostAmount" />
		<result column="ip_amount"        property="ipAmount" />
	</resultMap>
	
	
	<select id="getAll" resultMap="VpcBaseInfoVO">
		select 
			vbi.id,
			vbi.real_vpc_id,
			vbi.user_id,
			vbi.name,
			vbi.display_name,
			vbi.description,
			vbi.status,
			vbi.host_amount,
			vbi.ip_amount,
			vbi.create_time,
			vbi.modified_time
		from vpc_base_info vbi
		where vbi.status != 3 
	</select>
	
	<insert id="addVpc" >
		insert into vpc_base_info (id,real_vpc_id,user_id,name,display_name,description,status,host_amount,ip_amount,create_time) 
		values (#{id},#{realVpcId},#{userId},#{name},#{displayName},#{description},#{status},#{hostAmount},#{ipAmount},#{createTime})
	</insert>
	
	<update id="updateVpcIpAmount">
		update vpc_base_info
		set 
		    ip_amount = ip_amount + #{amount},
			modified_time = #{modifyTime}
		where  id = #{id}
	</update>
	
	<update id="updateVpcHostAmount">
		update vpc_base_info
		set 
		    host_amount = host_amount + #{amount},
			modified_time = #{modifyTime}
		where  id = #{id}
	</update>
	
	<select id="queryVpcById" resultMap="VpcBaseInfoVO">
		select 
			v.id,
			v.real_vpc_id,
			v.name,
			v.display_name,
			v.description,
			v.status,
			v.user_id,
			v.host_amount,
			v.ip_amount,
			v.create_time
		from vpc_base_info v
		where v.id = #{id}		 
 	</select>
 	
	<select id="queryVpcByHostId" resultMap="VpcBaseInfoVO">
		select 
			i.id,
			i.real_vpc_id,
			i.name,
			i.display_name,
			i.description,
			i.status,
			i.user_id,
			i.host_amount,
			i.ip_amount,
			i.create_time  
		from vpc_base_info i
		left join vpc_bind_host h
		on i.id = h.vpc_id and flag = 0 
		where h.host_id = #{hostId}	 
		limit 1
 	</select>
 	
	<delete id="deleteVpc">
		delete from user_message
		where  id = #{id}
	</delete> 

	<delete id="deleteVpcByIds">
		delete
		from vpc_base_info
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=", ">
			#{item}
		</foreach>
	</delete>
	
	<update id="logicDeleteVpcByIds">
		update  vpc_base_info 
		<set>
		     status = 3 
		</set>
		where id in 
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</update>
	
	<update id="updateVpc">
		update vpc_base_info
		set 
		    <if test="displayName!=null">
				display_name = #{displayName},
			</if>
		    <if test="description!=null">
				description = #{description},
			</if>
		    <if test="status!=null">
				status = #{status},
			</if>
			modified_time = #{modifyTime}
		where  id = #{id}
	</update>
</mapper>
