body, html {
	background: #f4f4f4;
	color: #333;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
	margin: 0;
	padding: 0;
	height: 100%;
}
a {
	color: #2980b9;
	text-decoration: none;
}
* {
	outline: none;
}
h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd, form {
	margin: 0;
	padding: 0;
}
ul, ol, dl {
	list-style: none;
}
img {
	border: 0;
}
.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}
.l {
	float: left;
}
.r {
	float: right;
}
.page {
	position: relative;
	min-height: 100%;
}
.pagebox {
	margin:0 auto;
	padding:0 0 80px 0;
}
.pagefooter{
	position: absolute;
	bottom: 0;
	height:80px;
	width: 100%;
	min-width:1000px;
	width:expression_r(document.body.clientWidth < 1000 ? "1000px" : "auto" );
}
.header{
	background:#f8f8f8;
	height:80px;
	min-width: 1000px;
	width:expression_r(document.body.clientWidth < 1000 ? "1000px" : "auto" );
}
.headerbox{
	height:80px;
	width: 960px;
	margin:0 auto;
	padding:0 20px;
}
.headerlogo{
	padding:26px 0 0 0;
	height:29px;
	width: 145px;
}
.headerregister{
	
	height:24px;
	width:50px;
	margin:28px 0 0 0;
}
.headerregister a{
	display:block;
	color:#fff;
	background:url(../images/button_bg_green_light_50_24.gif) no-repeat center;
	height:24px;
	width:50px;
	text-align:center;
	line-height:24px;
}
.headerlogin{
	height:24px;
	margin:28px 20px 0 0;
	line-height:24px;
}
.headerlogin a{
	color:#666;
}
.headerlogin a:hover{
	color:#27ae60;
}
.headerlogout{
	height:26px;
	width:50px;
	margin:28px 0 0 0;
}
.headerlogout a{
	display:block;
	color:#fff;
	background:url(../images/button_bg_gray_light_50_26.gif) no-repeat center;
	height:26px;
	width:50px;
	text-align:center;
	line-height:26px;
}
.headerlogout a:hover{
	background:url(../images/button_bg_orange_light_50_24.gif) no-repeat center;
}
.headerusername{
	color:#666;
	height:26px;
	font-size:14px;
	line-height:26px;
	padding:28px 20px 0 0;
}
.nav{
	background:#f4f4f4 url(../images/nav_bg.gif) repeat-x;
	height:60px;
	min-width: 1000px;
	width:expression_r(document.body.clientWidth < 1000 ? "1000px" : "auto" );
	border-top:solid 1px #bbb;
}
.navbox{
	position:relative;
	height:60px;
	width: 910px;
	margin:0 auto;
	padding:0 20px 0 70px;
	z-index:99997;
}
.navbutton{
	height:26px;
	font-size:16px;
	line-height:26px;
	padding:17px 0;
}
.navbutton a{
	color:#666;
}
.navbutton a:hover{
	color:#2980b9;
}
#navactive{
	border-top:solid 3px #2980b9;
	margin-bottom:3px;
	padding:14px 0;
}
#navactive a{
	color:#2980b9;
	
}
.navsplitter{
	height:10px;
	width:1px;
	overflow:hidden;
	background:#bbb;
	margin:25px 30px;
}
#navcart{
	position:relative;
	z-index:10;
	display:block;
	color:#fff;
	background:url(../images/button_cart_blue_light_50_24.gif) no-repeat center;
	width:20px;
	height:26px;
	font-size:14px;
	line-height:26px;
	padding:0 6px 0 24px;
	text-align:center;
}
#cartpopup{
	position:absolute;
	left:720px;
	top:9px;
	color:#666;
	background:#fafafa;
	border:solid 1px #bbb;
	width:267px;
	font-size:14px;
	line-height:20px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	display:none;
	z-index:99998;
}
#cartpopup b{
	color:#f39c12;
}
.viewcarttotal{
	margin:12px 8px;
	display:block;
	float:left;
	line-height:16px;
	height:16px;
	border:0;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
}
.viewcartprice{
	margin:12px 8px;
	display:block;
	float:right;
	line-height:16px;
	height:16px;
	border:0;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
}
.viewcartbutton{
	margin:0 8px 8px 8px;
	display:block;
	width:251px;
	height:32px;
	line-height:32px;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
	background:#2980b9;
	color:#fff;
	text-align:center;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	cursor:pointer;
}
.viewcartbutton:hover{
	background:#2980b9;
	color:#fff;
}
#cartpopup .cartpopuptitle{
	padding:8px 8px;
	line-height:24px;
}
#cartpopup .cartpopupbox{
	width:267px;
	max-height:266px;
	overflow-y:auto;
	_height:266px;
}
#cartpopup #cartpopup0{
	width:267px;
	padding:20px 0 40px 0;
	height:134px;
	overflow:hidden;
	text-align:center;
}
#cartpopup table{
	width:100%;
	padding:0;
	border:0;
	border-top:dotted 1px #bbb;
}
#cartpopup td.image{
	width:20px;
	padding:16px 8px;
}
#cartpopup td.name{
	line-height:20px;
	width:100%;
}
#cartpopup td.price{
	padding:0 8px;
	line-height:20px;
}
#cartpopup td.remove{
	width:16px;
	padding:0 8px 0 0;
}
#cartpopup td{
	border-bottom:dotted 1px #bbb;
}
.navcontrol a{
	font-size:16px;
	color:#666;
	display:block;
	background:url(../images/button_cloud_gray_light_24_26.gif) no-repeat left;
	height:60px;
	_width:64px;
	padding:0 0 0 34px;
}
.navcontrol a:hover{
	color:#2980b9;
	background:url(../images/button_cloud_blue_light_24_24.gif) no-repeat left;
}
.navcontrol a span{
	display:block;
	line-height:26px;
	padding:17px 0;
}
.navicon{
	margin:0 10px 0 0;
}
.main{
	width: 960px;
	margin:0 auto;
	padding:0 20px;
}
.content{
	width:580px;
	padding:30px 46px;
}
.fullcontainer{
	width: 958px; 
	margin:40px auto;
	background:#fafafa;
	border:solid 1px #bbb;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.fulltitlebar{
	width:958px;
	height:40px;
	-moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
	border-bottom:solid 1px #bbb;
	background:#f4f4f4;
}
.fullcontent{
	width:860px;
	padding:30px 46px;
}
.fullcenter{
	color:#666;
	width:860px;
	line-height:20px;
	text-align:center;
}
.fullcenter a{
	color:#27ae60;
}
.fulltable{
	width:900px;
	padding:30px 26px;
}
.trialsteps{
	position:relative;
	width:480px;
	height:50px;
	padding:0 210px;
}
.trialsteps .step{
	position:relative;
	z-index:3;
	width:120px;
	height:50px;
	float:left;
	text-align:center;
	line-height:20px;
	font-size:16px;
	color:#999;
	background:url(../images/wizard_circle_gray.png) no-repeat center bottom;
}
.trialsteps #grayline{
	position:absolute;
	left:270px;
	top:34px;
	z-index:1;
}
.trialsteps #greenline{
	position:absolute;
	left:270px;
	top:34px;
	z-index:2;
	-webkit-transition-property:  width;
  -moz-transition-property: width;
  -ms-transition-property:  width;
  -o-transition-property:  width;
  transition-property:  width;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
.wizardcont{
	
}
#isos{
	height:390px;
	overflow:hidden;
}
.wizardcont .radio{
	position:absolute;
	left:-5000px;
}
.wizardcont .checkbox{
	position:absolute;
	left:-5000px;
}
 .labeliso{
	display:block;
	position:relative;
	padding:8px 18px;
	width:100x;
	height:70px;
	background-color:#f0f0f0;
	border:solid 2px #f0f0f0;
	margin:0 150px 10px 150px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	cursor:pointer;
}

 .labeliso:hover{
	background-color:#fefefe;
	border:solid 2px #fefefe;
}
.labeliso:hover b{
	color:#e67e22;
}
 .labeliso .labeltitle{
	font-size:16px;
	line-height:20px;
	color:#333;
	margin-bottom:10px;
}
.wizardcont .labeliso .labelcol{
	font-size:16px;
	line-height:70px;
	height:50px;
	color:#333;
	float:left;
}
.wizardcont .labeliso .labelcol b{
	color:#f39c12;
}
 .labeliso .labeldesc{
	font-size:14px;
	line-height:20px;
	color:#999;
}
.wizardcont .wizardports{
	display:block;
	width:600px; 
	overflow:hidden;
	margin:0 150px;
}
.wizardcont .labelport{
	display:block;
	float:left;
	padding:8px 24px 8px 8px;
	width:104px;
	height:40px;
	line-height:20px;
	background-color:#f0f0f0;
	border:solid 2px #f0f0f0;
	margin:0 10px 10px 0;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	cursor:pointer;
}
.wizardcont .labelport b{
	font-size:12px;
	color:#999;
	font-weight:normal;
}
.wizardcont .labelport:hover{
	background-color:#fefefe;
	border:solid 2px #fefefe;
}
.wizardcont .checked{
	border:solid 2px #27ae60 !important;
	background:#fefefe url(../images/checkedbg.png) no-repeat right;
}
.wizardcont .wizardports .checked{
	border:solid 2px #27ae60 !important;
	background:#fefefe url(../images/checkboxbg.png) no-repeat right top;
}
.fulltable .wizarddesc{
	width:900px;
	height:20px;
	line-height:20px;
	text-align:center;
	padding:30px 0 30px 0;
	border:0;
}
.fulltable .paytable{
	width:900px;
	padding:0;
	border:0;
}
.fulltable .wizardtable{
	width:600px;
	margin:0 149px;
	border:solid 1px #ddd;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
	background:#fcfcfc;
}

.fulltable .paytable input{
	vertical-align:middle;
}
.fulltable .paytable label{
	color:#333;
}
.fulltable .paytable td{
	padding:20px 20px;
	height:24px;
	line-height:24px;
	background:#fcfcfc;
}
.fulltable .paytable .evenrow td{
	background:#f4f4f4;
}
.fulltable .paytable .selectedrow td{
	background:#fff;
}
.fulltable .paytable .firstrow td{
	color:#999;
	border-bottom:solid 1px #bbb;
	padding:0 20px 10px 20px;
	background:#fafafa;
}
.fulltable .paytable .lastrow td{
	background:#fafafa;
	border-top:solid 1px #bbb;
}
.fulltable .paytable .tools{
	color:#333;
	border-top:solid 1px #bbb;
	padding:10px 20px 0 20px;
	background:#fafafa;
}
.fulltable .paytable .total{
	color:#999;
	border-top:solid 1px #bbb;
	padding:10px 20px 0 20px;
	font-size:16px;
	background:#fafafa;
}
.fulltable .wizardtable td{
	background:none;
	padding:15px 20px;
	border-bottom:solid 1px #ddd;
}
.fulltable .paytable .removebutton{
	margin-left:40px;
	color:#333;
}
.fulltable .paytable .removebutton:hover{
	color:#e74c3c;
}
.fulltable .paytable .disabled{
	color:#999;
}
.fulltable .paytable .disabled:hover{
	color:#999;
}
.fulltable .paytable td b{
	color:#f39c12;
}
.container{
	width: 678px;
	margin:40px auto;
	background:#fafafa;
	border:solid 1px #bbb;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.titlebar{
	width:678px;
	height:40px;
	-moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
	border-bottom:solid 1px #bbb;
	background:#f4f4f4;
}
.tab{
	font-size:16px;
	color:#333;
	line-height:40px;
	float:left;
	height:40px;
	padding:0 50px;
	border-right:solid 1px #bbb;
}
.tab:first-child{
	-moz-border-radius: 8px 0 0 0;
    -webkit-border-radius: 8px 0 0 0;
    border-radius: 8px 0 0 0;
}
.tab a{
	color:#2980b9;
}
.tab a:hover{
	color:#2980b9;
}
.tabactive{
	color:#333;
	background:#fafafa;
	border-bottom:solid 1px #fafafa;
}

.content span{
	display:block;
	width:80px;
	line-height:40px;
	color:#333;
	float:left;
	margin:0 0 10px 0;
}
.content .textfield{
	display:block;
	width:260px;
	border:solid 1px #bbb;
	padding:4px;
	line-height:20px;
	height:20px;
	color:#666;
	float:left;
	margin:5px 0 15px 0;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
}
.content .shortfield{
	display:block;
	width:70px;
	border:solid 1px #bbb;
	padding:4px;
	line-height:20px;
	height:20px;
	color:#666;
	float:left;
	margin:5px 0 15px 0;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
}
.content .sendcode{
	width:170px;
	border:solid 1px #bbb;
	padding:4px;
	line-height:20px;
	height:20px;
	color:#999;
	float:left;
	margin:5px 0 15px 10px;
	font-size: 14px;
	text-align:center;
}
.content .sendcode a{
	color:#2980b9;
}
.content .tinyfield{
	display:block;
	width:30px;
	border:solid 1px #bbb;
	padding:9px;
	line-height:20px;
	height:20px;
	color:#666;
	float:left;
	margin:0 0 10px 0;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
}
.content .unit{
	display:block;
	line-height:40px;
	height:40px;
	color:#666;
	float:left;
	margin:0 0 10px 5px;
}
.content .price{
	display:block;
	line-height:40px;
	height:40px;
	color:#333;
	float:left;
	margin:0 0 10px 0;
}
.content .price b{
	color:#f39c12;
}
.content .select{
	display:block;
	width:230px;
	border:solid 1px #bbb;
	padding:9px;
	line-height:20px;
	height:40px;
	color:#666;
	float:left;
	margin:0 0 10px 0;
	background:url(../images/select_bg.gif) repeat-x;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
}
.content .shortselect{
	display:block;
	width:100px;
	border:solid 1px #bbb;
	padding:9px;
	line-height:20px;
	height:40px;
	color:#666;
	float:left;
	margin:0 0 10px 0;
	background:url(../images/select_bg.gif) repeat-x;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
}
.content .slider{
	display:block;
	width:297px;
	padding:1px 2px 2px 1px;
	height:19px;
	float:left;
	margin:9px 10px 19px 0;
	background:url(../images/slider_bg.gif) no-repeat center;
}
.content .shortslider{
	display:block;
	width:167px;
	padding:1px 2px 2px 1px;
	height:19px;
	float:left;
	margin:9px 10px 19px 0;
	background:url(../images/shortslider_bg.gif) no-repeat center;
}
.content .radio{
	display:block;
	width:130px;
	height:40px;
	line-height:40px;
	color:#666;
	float:left;
	margin:0 0 10px 0;
}
.content .radio label{
	height:40px;
	line-height:40px;
	color:#666;
	margin:0 0 0 10px;
}
.content .code{
	display:block;
	margin:5px 0 15px 10px;
	float:left;
}
.content .tip{
	display:block;
	color:#e74c3c;
	width:210px;
	padding:8px 0 8px 10px;
	line-height:24px;
	height:24px;
	float:left;
	margin:0 0 10px 0;
}
.content .ports{
	display:block;
	width:260px;
	line-height:24px;
	margin:0;
	border:solid 1px #bbb;
	padding:0 0 0 8px;
	background:#fbfbfb;
}
.ports a{
	display:block;
	color:#333;
	line-height:24px;
	height:24px;
	float:left;
	width:65px;
	background:none;
}
.ports a:hover{
	color:#e74c3c;
	background: url(../images/button_remove_red_light_12_12.gif) no-repeat;
	background-position:45px center;
}
.content .portbutton{
	display:block;
	color:#333;
	width:135px;
	line-height:30px;
	height:30px;
	background:#f0f0f0;
	border:solid 1px #bbb;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
	text-align:center;
	float:left;
}
.content .tip2rows{
	display:block;
	color:#e74c3c;
	width:210px;
	padding:0 0 0 10px;
	line-height:20px;
	height:40px;
	float:left;
	margin:0 0 10px 0;
}
.content .tip img{
	margin:0 10px 0 0;
	vertical-align:middle;
}
.content .tip a{
	color:#e67e22;
}
.content .inputoption{
	margin:20px 0 0 0;
	line-height:40px;
	height:40px;
}
.content .inputoption a{
	color:#666;
}
.content .inputoption a:hover{
	color:#e67e22;
}
.content .inputsplitter{
	height:10px;
	width:1px;
	overflow:hidden;
	background:#bbb;
	margin:35px 20px 15px 20px;
}
.content .inputbutton{
	margin:20px 0 0 0;
	display:block;
	color:#fff;
	width:120px;
	line-height:40px;
	height:40px;
	float:right;
	background:url(../images/button_bg_green_light_120_40.gif) no-repeat center;
	border:0;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
	cursor:pointer;
}
.sidebar{
	width: 260px;
	margin:40px auto;
}
.sidebarimageregister{
	width: 220px;
	height:140px;
	margin:70px 20px 0 20px;
	background:url(../images/image_register.gif) no-repeat top;
}
.sidebarimagelogin{
	width: 220px;
	height:140px;
	margin:70px 20px 0 20px;
	background:url(../images/image_login.gif) no-repeat top;
}
.sidebartext{
	width: 220px;
	height:140px;
	margin:50px auto 0 auto;
	color:#666;
	line-height:20px;
}
.sidebarcenter{
	color:#666;
	width:220px;
	margin:30px auto 0 auto;
	line-height:20px;
	text-align:center;
}
.sidebarcenter a{
	color:#2980b9;
}
.sidebarcenter .pointer{
	margin:0 0 0 5px;
	vertical-align:middle;
}
.sidebartitle{
	height:24px;
	width:250px;
	padding:8px 0 8px 10px;
	color:#666;
	font-size:16px;
	line-height:24px;
}
.sidebartitle b{
	color:#e67e22;
}
.sidebarcartpay{
	height:24px;
	width:50px;
}
.sidebarcartpay a{
	font-size:14px;
	display:block;
	color:#fff;
	background:url(../images/button_bg_green_light_50_24.gif) no-repeat center;
	height:24px;
	width:50px;
	text-align:center;
	line-height:24px;
}
.sidebarcart{
	height:222px;
	width:260px;
	background:#fafafa;
	margin:0 0 10px 0;
}
.sidebarcarttitle{
	height:24px;
	line-height:24px;
	color:#333;
	width:240px;
	padding:8px 0;
	margin:0 10px 10px 10px;
	border-bottom:solid 1px #e0e0e0;
}
.sidebarcartremove{
	height:24px;
	width:24px;
	float:right;
}
.sidebarcartproperty{

	line-height:20px;
	color:#333;
	padding:0 0 0 10px;
	width:120px;
	float:left;
}
.sidebarcartpropertyname{
	height:20px;
	line-height:20px;
	color:#999;
	padding:0 10px 0 0;
	width:120px;
	text-align:right;
	float:left;
}
.sidebarcartprice{
	height:24px;
	line-height:24px;
	color:#333;
	width:240px;
	padding:8px 0;
	border-top:solid 1px #e0e0e0;
	margin:10px 10px 0 10px;
}
.sidebarcartprice b{
	color:#e67e22;
}
b.orange{
	color:#e67e22;
}
.sitemap{
	background:#e8e8e8;
	width:100%;
	min-width: 1000px;
	width:expression_r(document.body.clientWidth < 1000 ? "1000px" : "auto" );
}
.sitemapbox{
	height:200px;
	width: 960px;
	margin:0 auto;
	padding:0 20px;
}
.sitemapsocial{
	height:79px;
	width: 960px;
	border-bottom:solid 1px #bbb;
}
.sitemaplogo{
	padding:25px 0 0 0;
	height:29px;
	width:40px;
}
.sitemapweixin{
	height:60px;
	margin:10px 0 0 0;
	_width:160px;
}
.sitemapweixin a{
	display:block;
	color:#666;
	background:url(../images/weixin.gif) no-repeat left;
	height:40px;
	padding:10px 0 10px 76px;
	line-height:20px;
}
.sitemapweibo{
	height:40px;
	margin:20px 0 0 0;
	width:160px;
}
.sitemapweibo a{
	display:block;
	color:#666;
	background:url(../images/button_weibo_dark_40_40.gif) no-repeat left;
	height:40px;
	padding:0 0 0 50px;
	line-height:20px;
}
.sitemapweibo a:hover{
	color:#666;
}
.sitemap ul{
	display:block;
	width:160px;
	float:left;
	padding:20px 0;
}
.sitemap li{
	display:block;
	width:160px;
	height:20px;
	line-height:20px;
}
.sitemap li a{
	color:#666;
}
.sitemap li a:hover{
	color:#27ae60;
}
.footer{
	background:#f0f0f0;
	height:80px;
	width:100%;
	min-width: 1000px;
	width:expression_r(document.body.clientWidth < 1000 ? "1000px" : "auto" );
}
.footerbox{
	height:80px;
	width: 960px;
	margin:0 auto;
	padding:0 20px;
	text-align:center;
}
.footercopyright{
	width: 960px;
	height:80px;
	text-align:center;
	color:#666;
	line-height:80px;
}
.footercopyright a{
	color:#27ae60;
}
.index1{
	background:url(../images/index_bg_1.jpg) repeat-x;
	height:800px;
	min-width: 1000px;
	width:expression_r(document.body.clientWidth < 1000 ? "1000px" : "auto" );
}
.index1box{
	background:url(../images/index_image_1.jpg) no-repeat center;
	height:800px;
	min-width: 1000px;
	width:expression_r(document.body.clientWidth < 1000 ? "1000px" : "auto" );
}
.index1headerregister a{
	background:url(../images/button_bg_green_gray_50_24.gif) no-repeat center;
}
.index1 #navcart{
	background:url(../images/button_cart_blue_gray_50_24.gif) no-repeat center;
}
.index1navcontrol a{
	background:url(../images/button_cloud_gray_gray_24_26.gif) no-repeat left;
}
.index1navcontrol a:hover{
	background:url(../images/button_cloud_blue_gray_24_24.gif) no-repeat left;
}
#navactive.index1navcontrol a{
	background:url(../images/button_cloud_blue_gray_24_24.gif) no-repeat left;
}
.index1navbox{
	border-top:solid 1px #bbb;
}
.index1main{
	height:660px;
	width:960px;
	margin:0 auto;
}
.index1button{
	height:40px;
	width:200px;
	padding:290px 0 0 115px;
}
.index1button a{
	display:block;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	line-height:40px;
	color:#fff;
	height:40px;
	width:200px;
}
.index1button a:hover{
	color:#bdff3d;
}
.index1social{
	height:40px;
	width:238px;
	margin:80px 0 0 96px;
	padding:40px 0 0 0;
	border-top:solid 1px #bbb;
}
.index1weixin{
	height:40px;
	_width:134px;
}
.index1weixin a{
	display:block;
	color:#666;
	background:url(../images/button_weixin_gray_40_40.gif) no-repeat left;
	height:40px;
	padding:0 0 0 50px;
	line-height:20px;
}
.index1weixin a:hover{
	color:#27ae60;
}
.index1weibo{
	height:40px;
	margin:0 26px 0 0;
	_width:78px;
}
.index1weibo a{
	display:block;
	color:#666;
	background:url(../images/button_weibo_gray_40_40.gif) no-repeat left;
	height:40px;
	padding:0 0 0 50px;
	line-height:20px;
}
.index1weibo a:hover{
	color:#fff;
}
.index2{
	width:960px;
	height:270px;
	margin:0 auto;
}
.index2left{
	width:300px;
	margin:60px 30px 60px 0;
	float:left;
}
.index2right{
	width:300px;
	margin:60px 0;
	float:left;
}
.index2title{
	width:250px;
	height:40px;
	background:url(../images/button_cloud_green_light_40_40.gif) left no-repeat;
	padding:0 0 0 50px;
	margin:0 0 10px 0;
	color:#333;
	font-size:18px;
	font-weight:bold;
	line-height:40px;
}
.index2text{
	width:250px;
	padding:0 0 0 50px;
	color:#333;
	line-height:20px;
}
.branch{
	width:960px;
	height:170px;
	margin:0 auto;
}
.branchleft{
	width:300px;
	margin:0px 30px 0px 0;
	float:left;
}
.branchright{
	width:300px;
	margin:0px 0;
	float:left;
}
.branchtitle{
	width:250px;
	height:40px;
	background:url(../images/button_cloud_green_light_40_40.gif) left no-repeat;
	padding:0 0 0 50px;
	margin:0 0 10px 0;
	color:#333;
	font-size:18px;
	font-weight:bold;
	line-height:40px;
}
.branchtext{
	width:250px;
	padding:0 0 0 50px;
	color:#333;
	line-height:20px;
}
.paymethod{
	height:60px;
	width:860px;
}
.paymethod div{
	width:286px;
	height:60px;
	line-height:60px;
}
.paymethod .tip{
	color:#e74c3c;
	text-align:right;
}
.paymethod input{
	vertical-align:middle;
}
.paymethod img{
	vertical-align:middle;
	padding:0 10px;
}
.paymethod #pay_alipay{
	padding:10px 10px;
}
.paybutton{
	margin:0 70px 40px 0;
	display:block;
	color:#fff;
	width:120px;
	line-height:40px;
	height:40px;
	float:right;
	background:url(../images/button_bg_green_light_120_40.gif) no-repeat center;
	border:0;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
	cursor:pointer;
}
.cartbutton{
	margin:30px 0 0 20px;
	display:block;
	color:#fff;
	width:120px;
	line-height:40px;
	height:40px;
	float:right;
	background:url(../images/button_bg_green_light_120_40.gif) no-repeat center;
	border:0;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
	cursor:pointer;
}
.trailbtn{
	color:#fff;
	width:120px;
	line-height:40px;
	height:40px;
	background:url(../images/button_bg_green_light_120_40.gif) no-repeat center;
	text-align:center;
	left:50%;
	margin-left:-60px;
	top:300px;
	z-index:100;
}
.wizardbutton{
	color:#fff;
	width:120px;
	line-height:40px;
	height:40px;
	background:url(../images/button_bg_green_light_120_40.gif) no-repeat center;
	border:0;
	font-family: "微软雅黑", "宋体", Arial;
	font-size: 14px;
	cursor:pointer;
}
.buttondisabled{
	color:#eee;
	background:url(../images/button_bg_gray_light_120_40.gif) no-repeat center;
}
.cartbuttondisabled{
	color:#eee;
	background:url(../images/button_bg_gray_light_120_40.gif) no-repeat center;
}
.banner{
	background:#f4f4f4;
	height:160px;
	min-width: 1000px;
	width:expression_r(document.body.clientWidth < 1000 ? "1000px" : "auto" );
}
.bannerbox{
	height:120px;
	width: 960px;
	margin:0 auto;
	padding:20px 20px;
}
.bannerbox h2{
	color:#333;
	height:40px;
	line-height:40px;
	font-size:30px;
	width: 960px;
	margin:0 auto;
	text-align:center;
	font-weight:normal;
}
.bannerbox h2 img{
	vertical-align:middle;
}
.bannerbox p{
	color:#999;
	height:60px;
	line-height:20px;
	width: 960px;
	margin:0 auto;
	text-align:center;
	padding:20px 0 0 0;
}
.bannertitlebar{
	background:#f4f4f4;
	height:38px;
	width:100%;
	min-width: 1000px;
	width:expression_r(document.body.clientWidth < 1000 ? "1000px" : "auto" );
	border-top:solid 1px #bbb;
	border-bottom:solid 1px #bbb;
}

.sequence-pagination {
  height:38px;
	width:1000px;
	margin:0 auto;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.sequence-pagination li {
	backgournd-color:#f4f4f4;
	color:#666;
	cursor:pointer;
  font-size:16px;
	line-height:38px;
	width:200px;
	float:left;
	height:38px;
	text-align:center;
}
.sequence-pagination li:hover {
  color:#2980b9;
}
.sequence-pagination li.current{
  color:#2980b9;
  backgournd-color:#fafafa;
  border-left:solid 1px #bbb;
	border-right:solid 1px #bbb;
	border-bottom:solid 3px #2980b9;
	height:35px;
	width:198px;
}

.bannertitlebarbox{
	height:38px;
	width:1000px;
	margin:0 auto;
}
.bannertitlebar .tab5{
	font-size:16px;
	color:#333;
	line-height:38px;
	width:200px;
	float:left;
	height:38px;
	text-align:center;
}
.bannertitlebar .tab5active{
	border-left:solid 1px #bbb;
	border-right:solid 1px #bbb;
	border-bottom:solid 3px #2980b9;
	height:35px;;
	width:198px;
	background:#fafafa;
}
.scloud{
	left:0;
	top:0;
  height:400px;
  width:100%;
  position: relative;
  overflow: hidden;
}
.scloud *{
	position:absolute;
	-webkit-transition-property: margin-left, margin-top, opacity;
  -moz-transition-property: margin-left, margin-top, opacity;
  -ms-transition-property: margin-left, margin-top, opacity;
  -o-transition-property: margin-left, margin-top, opacity;
  transition-property: margin-left, margin-top, opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.scloud1 {
  top:100px;
  margin-left:180px;
  left: 50%;
  opacity: 1;
  z-index: 2;;
}
.scloud2 {
  top:200px;
  margin-left:-700px;
  left: 50%;
  opacity: 1;
  z-index: 3;;
}
.scloud3{
  top:240px;
  margin-left:-200px;
  left: 50%;
  opacity: 1;
  z-index: 4;
}
.trialbtn{
  top:280px;
  margin-left:-60px;
  left: 50%;
  z-index: 50;
  background:url(../images/button_bg_green_light_120_40.gif) no-repeat center center;
  text-align:center;
  width:120px;
  height:40px;
  color:#fff;
  line-height:40px;
  font-size:16px;
  
}
#productmenu{
	position:absolute;
	z-index:99998;
	
	left:132px;
	top:9px;
	color:#666;
	background:#fafafa;
	border:solid 1px #bbb;
	width:114px;
	height:180px;
	padding:40px 0 10px 0;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	display:none;
}
#productmenu a{
	display:block;
	width:114px;
	text-align:center;
	font-size:14px;
	line-height:30px;

	
}
#productmenu a:hover{
	color:#fff;
	background:#bbb;
}
#pbtn{
	position:relative;
	z-index:99999;

}
#pbtn img{
	vertical-align:middle;
	padding:0 0 0 10px;

}
.wizardbtn .page{
	padding:4px 0;
	
}
.wizardbtn .page a{
	display:block;
	float:left;
	margin:0 5px 0 0;
	cursor:pointer;
}
.wizardbtn .page .arrow{
	padding:8px;
	height:16px;
	width:16px;
}
.wizardbtn .page .num{
	height:30px;
	width:30px;
	line-height:30px;
	text-align:center;
	color:#333;
	border:solid 1px #ccc;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.wizardbtn .page .num:hover{
	color:#2980b9;
	border:solid 1px #2980b9;
}
.wizardbtn .page .active{
	color:#fff !important;
	background:#2980b9;
	border:solid 1px #2980b9;
}