<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<link rel="stylesheet" href="css/style.default.css" type="text/css" />
<script type="text/javascript" src="js/plugins/jquery-1.7.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="js/plugins/jquery.uniform.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="js/plugins/charCount.js"></script>
<script type="text/javascript" src="js/plugins/ui.spinner.min.js"></script>
<script type="text/javascript" src="js/plugins/chosen.jquery.min.js"></script> 
<script type="text/javascript" src="js/custom/forms.js"></script> 
<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="css/style.ie9.css"/>
<![endif]-->
<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="css/style.ie8.css"/>
<![endif]-->
<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]--> 

<div class="bodywrapper"> 
     
    
     
    <div class="centercontent" style="margin-left:0">
    
        <div class="pageheader">
            <h1 class="pagetitle">主机管理</h1> 
            
            <ul class="hornav">
                <li class="current"><a href="#basicform">新增主机库存</a></li> 
            </ul>
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper">
        	
        	<div id="basicform" class="subcontent"> 

                    <form class="stdform" action="" method="post">
                    	
                        <p>
                        	<label>主机库存名称</label>
                            <span class="field"><input type="text" name="input1" class="smallinput" /></span>
                            <small class="desc"></small>
                        </p> 
                        
                        <p>
                        	<label>选择主机类型</label>
                            <span class="field">
                            <select name="type" class="uniformselect">
                            	<option value="">Win7 纯净版</option>
                                <option value="">Win8 纯净版</option>
                                <option value="">Win9 纯净版</option>
                                <option value="">Win10 纯净版</option>
                                <option value="">Win11 纯净版</option>
                            </select> 
                            <a href="void(0);"   class="btn btn_search radius50"><span>新增主机类型（弹出框实现）</span></a>
                            </span>
                        </p> 
                        
                        <p>
                        	<label>库存数</label>
                            <span class="field"><input type="text" id="spinner" name="" class="width50 noradiusright" width="100px"  /></span>
                            <small class="desc"></small>
                        </p>
                        
                        <p class="stdformbutton">
                        	<button class="submit radius2">保存</button>
                            <input type="reset" class="reset radius2" value="取消" width="30px" />
                        </p>
                        
                        
                    </form>
                    
                    <br /> 

            </div><!--subcontent-->
        
        </div><!--contentwrapper-->
        
	</div><!-- centercontent -->
    
    
</div><!--bodywrapper-->
 