<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhicloud.ms.mapper.BackUpDetailMapper">


	<resultMap type="com.zhicloud.ms.vo.BackUpDetailVO" id="BackUpDetailVO">
		<id     column="id"       property="id" />
		<result column="create_time" property="createTime" />
		<result column="host_id" property="hostId" />
		<result column="display_name" property="displayName" />
		<result column="back_up_time" property="backUpTime" />
		<result column="username" property="userName" />
		<result column="real_host_id" property="realHostId" />
	</resultMap>


	<select id="getAllDetail" resultMap="BackUpDetailVO">
		select
		      a.id,
		      a.display_name,
		      a.host_id,
		      a.status, 
		      a.back_up_time,
		      a.create_time,
		      a.mode,
		      a.disk,
		      u.username,
		      b.real_host_id
		 from back_up_detail a
		 join cloud_host b on a.host_id = b.id
		 left join sys_user u  on b.user_id = u.id
		 WHERE b.type = #{type}
		 order by create_time desc

	</select>
	
	<select id="getLastAvailableBackUp" resultMap="BackUpDetailVO">
		select
		      a.id,
		      a.display_name,
		      a.host_id,
		      a.status, 
		      a.back_up_time,
		      a.create_time,
		      a.mode,
		      a.disk
 		 from back_up_detail a
 		 WHERE 
 		 host_id = #{hostId}
 		 and status = 1
 		 order by back_up_time desc
 		 limit 1
 
	</select>

    <!-- ***************** -->

    <insert id="insertDetail">
		insert INTO back_up_detail
		(id,display_name, host_id, status,back_up_time, create_time,mode,disk)
		 values
		 (#{id},#{displayName},  #{hostId},#{status},#{backUpTime},#{createTime},#{mode},#{disk});
	</insert>
	
	<!-- ***************** --> 
	
	<update id="updateDetailStatus">
	    update back_up_detail
	    set status = #{newstatus}
	    <if test="backUpTime != null">
	    , back_up_time = #{backUpTime}
	    </if>
	    where host_id = #{hostId} and status = #{oldstatus}  
	</update>

</mapper>
