<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhicloud.ms.mapper.QosMapper">

    <resultMap id="QosVO" type="com.zhicloud.ms.vo.QosVO">
        <id     property="id"        column="id" />
        <result property="hostName" column="host_name" />
        <result property="serverIp" column="server_ip" />
        <result property="inboundBandwidth" column="inbound_bandwidth" />
        <result property="outboundBandwidth" column="outbound_bandwidth" />
        <result property="maxIops" column="max_iops" />
        <result property="createTime" column="create_time" />

    </resultMap>

    <!-- ********************* -->

    <select id="queryAll" resultMap="QosVO">
        SELECT
        q.id,
        q.uuid,
        q.host_name,
        q.type,
        q.name,
        q.ip,
        q.server_ip,
        q.inbound_bandwidth,
        q.outbound_bandwidth,
        q.max_iops,
        q.priority,
        q.create_time
        FROM qos_setting q
        WHERE q.type = #{type}
        ORDER BY q.create_time DESC
    </select>

    <!-- ********************* -->

    <select id="queryByName" resultMap="QosVO">
        SELECT
        q.id,
        q.uuid,
        q.host_name,
        q.type,
        q.name,
        q.ip,
        q.server_ip,
        q.inbound_bandwidth,
        q.outbound_bandwidth,
        q.max_iops,
        q.priority,
        q.create_time
        FROM qos_setting q
        <where>
            q.type = #{type} AND q.name = #{name}
        </where>
        ORDER BY q.create_time DESC
    </select>

    <!-- ********************* -->

    <insert id="addQos">
        INSERT INTO qos_setting (id, uuid, host_name, type, name, ip, server_ip, inbound_bandwidth, outbound_bandwidth, max_iops, priority, create_time)
        VALUES (#{id}, #{uuid}, #{host_name}, #{type}, #{name}, #{ip}, #{server_ip}, #{inbound_bandwidth}, #{outbound_bandwidth}, #{max_iops}, #{priority}, #{create_time})
    </insert>

    <!-- ********************* -->


    <delete id="deleteQosByHostUuids">
        DELETE
        FROM qos_setting
        WHERE uuid IN
        <foreach collection="array" item="item" open="(" close=")" separator=", ">
            #{item}
        </foreach>
    </delete>


</mapper>
