<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhicloud.ms.mapper.SmsTemplateMapper">


	<resultMap type="com.zhicloud.ms.vo.SmsTemplateVO" id="SmsTemplateVO">
		<id     column="id"         property="id" />
		<result column="config_id" property="configId" />
        <result column="config_name" property="configName" />
        <result column="create_time" property="createTime" />
		<result column="modified_time" property="modifiedTime" />
	</resultMap>
	
	<!-- ********************* -->
	
	<insert id="insertTemplate">
		insert into sms_template (id, name, config_id, code, recipient, content, create_time, modified_time)
		values (#{id}, #{name}, #{config_id}, #{code}, #{recipient}, #{content}, #{create_time}, #{modified_time})
	</insert>
	
	<!-- ********************* -->

	<select id="queryAllTemplate" resultMap="SmsTemplateVO">
		select 
			t.id,
			t.name,
			t.config_id,
            t.code,
            c.config_name,
            t.recipient,
			t.content,
			t.create_time,
			t.modified_time
		from sms_template t
        LEFT JOIN sms_config c ON t.config_id = c.id
		order by t.modified_time desc
	</select>
	
	<!-- ********************* -->
	<select id="queryTemplateById" resultMap="SmsTemplateVO">
		select
            id,
            name,
            config_id,
            code,
            recipient,
            content,
            create_time,
            modified_time
        from sms_template
		<where>
			id = #{id}
		</where>
	</select>

    <!-- ********************* -->
    <select id="queryTemplateByCode" resultMap="SmsTemplateVO">
        select
            id,
            name,
            config_id,
            code,
            recipient,
            content,
            create_time,
            modified_time
        from sms_template
        <where>
            code = #{code}
        </where>
    </select>

	<!-- ********************* -->
	<select id="queryTemplateByName" resultMap="SmsTemplateVO">
		select
            t.id,
            t.name,
            t.config_id,
            t.code,
            c.config_name,
            t.recipient,
            t.content,
            t.create_time,
            t.modified_time
        from sms_template t
        LEFT JOIN sms_config c ON t.config_id = c.id
		<where>
			t.name = #{name}
		</where>
	</select>
	
	<!-- ********************* -->
	
	<update id="updateTemplate" >
		update sms_template set
            config_id = #{config_id},
			name = #{name},
            code = #{code},
            recipient = #{recipient},
            content = #{content},
			modified_time = #{modified_time}
		<where>
			id = #{id}
		</where>
	</update>
	
	<!-- ********************* -->

	<delete id="deleteTemplateByIds">
		delete
		from sms_template
		where id in
		<foreach collection="array" item="item" open="(" close=")" separator=", ">
			#{item}
		</foreach>
	</delete>
	
</mapper>
