<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhicloud.op.mybatis.mapper.SysWarnValueMapper">


	<resultMap type="com.zhicloud.op.vo.SysWarnValueVO" id="SysWarnValueVO">
		<id     column="id"       property="id" />
		<result column="name" property="name" />
		<result column="code" property="code" />
		<result column="operator" property="operator" />
		<result column="value" property="value" />
		<result column="contact" property="contact" />
		<result column="sort" property="sort" />
		<result column="ruleid" property="ruleid" />
	</resultMap>
	
	<select id="getById" resultMap="SysWarnValueVO">
		select 
			u.id,
			u.name,
			u.code,
			u.operator,
			u.value,
			u.contact,
			u.sort,
			u.ruleid
		from sys_warnvalue u
		where u.id = #{id}
	</select>
	
	<select id="getByRuleID" resultMap="SysWarnValueVO">
		select 
			u.id,
			u.name,
			u.code,
			u.operator,
			u.value,
			u.contact,
			u.sort,
			u.ruleid
		from sys_warnvalue u
		where u.ruleid = #{ruleid}
		order by sort asc
	</select>	
	
	<select id="getAll" resultMap="SysWarnValueVO">
		select 
			u.id,
			u.name,
			u.code,
			u.operator,
			u.value,
			u.contact,
			u.sort,
			u.ruleid
		from sys_warnvalue u
		order by sort asc
	</select>
	
	<insert id="addSysWarnValue">
		insert into sys_warnvalue (id, name, code, operator, value,contact,sort,ruleid) values
		(#{id}, #{name}, #{code}, #{operator}, #{value},#{contact},#{sort},#{ruleid})
	</insert>

	<update id="updateSysWarnValue">
		update sys_warnvalue 
		<set>
			<if test="name!=null and name!=''">
				name = #{name},
			</if>
			<if test="code!=null and code!=''">
				code = #{code},  
			</if>
			<if test="operator!=null and operator!=''">
				operator = #{operator},  
			</if>	
			<if test="value!=null and value!=''">
				value = #{value},  
			</if>	
			<if test="contact!=null and contact!=''">
				contact = #{contact},  
			</if>	
			<if test="sort!=null and sort!=''">
				sort = #{sort}
			</if>							
		</set>
		where id = #{id}
	</update>
	
	<delete id="deleteSysWarnValue">
		delete
		from sys_warnvalue
		where id in
		<foreach collection="array" item="item" open="(" close=")" separator=", ">
			#{item}
		</foreach>
	</delete>

	<delete id="deleteByRule">
		delete
		from sys_warnvalue
		where ruleid = #{ruleid}
	</delete>
</mapper>