<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhicloud.ms.mapper.BalancerServiceMapper"> 
	
	 <resultMap type="com.zhicloud.ms.vo.BalancerServiceVO" id="BalancerServiceVO">
		<id     column="id"                      property="id" />
		<result column="host_id"                 property="hostId" />
		<result column="balancer_protocol_name"  property="balancerProtocolName" />
		<result column="balancer_protocol_port"  property="balancerProtocolPort" />
		<result column="host_protocol_name"      property="hostProtocolPame" />
		<result column="host_protocol_port"      property="hostProtocolPort" />
		
	</resultMap>
	 <!-- ********************* -->
	<select id="getAll" resultMap="BalancerServiceVO">
		select bs.id,
			bs.host_id,
			bs.balancer_protocol_name,
			bs.balancer_protocol_port,
			bs.host_protocol_name,
			bs.host_protocol_port
		from balancer_service bs
	</select>
	
	<select id="getById" resultMap="BalancerServiceVO">
		select bs.id,
			bs.host_id,
			bs.balancer_protocol_name,
			bs.balancer_protocol_port,
			bs.host_protocol_name,
			bs.host_protocol_port
		from balancer_service bs
		where bs.id = #{id}
	</select>
	
	<select id="getByHostId" resultMap="BalancerServiceVO">
		select bs.id,
			bs.host_id,
			bs.balancer_protocol_name,
			bs.balancer_protocol_port,
			bs.host_protocol_name,
			bs.host_protocol_port
		from balancer_service bs
		where bs.host_id = #{hostId}
	</select>
	<insert id="add">
		insert into balancer_service (id,host_id,balancer_protocol_name,balancer_protocol_port,host_protocol_name,host_protocol_port) 
		values (#{id}, #{hostId},#{balancerProtocolName}, #{balancerProtocolPort}, #{hostProtocolName}, #{hostProtocolPort})
	</insert>
	
	<!-- ********************* -->
	
	<delete id="deleteById">
		delete
		from balancer_service
		where id = #{id}
	</delete>
	 
</mapper>