<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhicloud.ms.mapper.BalancerConfigMapper"> 
	
	 <resultMap type="com.zhicloud.ms.vo.BalancerConfigVO" id="BalancerConfigVO">
		<id     column="id"                 property="id" />
		<result column="host_id"            property="hostId" />
		<result column="max_connect"        property="maxConnect" />
		<result column="is_keep_session"    property="isKeepSession" />
		<result column="keep_session_time"  property="keepSessionTime" />
		<result column="check_protocol"     property="checkProtocol" />
		<result column="respone_timeout"    property="responeTimeout" />
		<result column="check_interval"     property="checkInterval" />
		<result column="unhealthy_value"    property="unhealthyValue" />
		<result column="healthy_value"      property="healthyValue" />
	</resultMap>
	 <!-- ********************* -->
	<select id="getAll" resultMap="BalancerConfigVO">
		select bc.id,
			bc.host_id,
			bc.max_connect,
			bc.is_keep_session,
			bc.keep_session_time,
			bc.check_protocol,
			bc.respone_timeout,
			bc.check_interval,
			bc.unhealthy_value,
			bc.healthy_value
		from balancer_config bc
	</select>
	
	<select id="getById" resultMap="BalancerConfigVO">
		select bc.id,
			bc.host_id,
			bc.max_connect,
			bc.is_keep_session,
			bc.keep_session_time,
			bc.check_protocol,
			bc.respone_timeout,
			bc.check_interval,
			bc.unhealthy_value,
			bc.healthy_value
		from balancer_config bc
		where bc.id = #{id}
	</select>
	
	<select id="getByHostId" resultMap="BalancerConfigVO">
		select bc.id,
			bc.host_id,
			bc.max_connect,
			bc.is_keep_session,
			bc.keep_session_time,
			bc.check_protocol,
			bc.respone_timeout,
			bc.check_interval,
			bc.unhealthy_value,
			bc.healthy_value
		from balancer_config bc
		where bc.host_id = #{hostId}
	</select>
	<insert id="add">
		insert into balancer_config (id,host_id,max_connect,is_keep_session,keep_session_time,check_protocol,respone_timeout,check_interval,unhealthy_value,healthy_value) 
		values (#{id}, #{hostId},#{maxConnect}, #{isKeepSession}, #{keepSessionTime}, #{checkProtocol}, #{responeTimeout}, #{checkInterval}, #{unhealthyValue}, #{healthyValue})
	</insert>
	
	<!-- ********************* -->
	
	<delete id="deleteById">
		delete
		from balancer_config
		where id = #{id}
	</delete>
	 
</mapper>