<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhicloud.ms.mapper.CloudHostConfigModelMapper">
	<resultMap type="com.zhicloud.ms.vo.CloudHostConfigModel" id="CloudHostConfigModel">
		<id column="id"                 property="id"/>
		<result column="name"           property="name"/>
		<result column="cpu_core"       property="cpuCore"/>
		<result column="memory"         property="memory"/>
		<result column="sys_image_id"   property="sysImageId"/>
		<result column="sys_disk"       property="sysDisk"/>
		<result column="data_disk"      property="dataDisk"/>
		<result column="bandwidth"      property="bandwidth"/>
		<result column="sys_image_name" property="sysImageName"/>
		<result column="create_time"    property="createTime"/>
		<result column="modified_time"  property="modifiedTime"/>
		<result column="type"           property="type"/>
		<result column="support_h264"   property="supportH264"/>
	</resultMap>
	<select id="getAll" resultMap="CloudHostConfigModel">
		select  chcm.id,
				chcm.name,
				chcm.cpu_core,
				chcm.memory,
				chcm.sys_image_id,
				chcm.sys_disk,
				chcm.data_disk,
				chcm.bandwidth,
				chcm.sys_image_name,
				chcm.create_time,
				chcm.modified_time,
				chcm.support_h264
		from cloud_host_config_model chcm
		where chcm.type = 1
	</select>
	
	<select id="getAllServer" resultMap="CloudHostConfigModel">
		select  chcm.id,
				chcm.name,
				chcm.cpu_core,
				chcm.memory,
				chcm.sys_image_id,
				chcm.sys_disk,
				chcm.data_disk,
				chcm.bandwidth,
				chcm.sys_image_name,
				chcm.create_time,
				chcm.modified_time,
				chcm.support_h264
		from cloud_host_config_model chcm
		where chcm.type = 2
	</select>
	
	<select id="getById" resultMap="CloudHostConfigModel">
		select  chcm.id,
				chcm.name,
				chcm.cpu_core,
				chcm.memory,
				chcm.sys_image_id,
				chcm.sys_disk,
				chcm.data_disk,
				chcm.bandwidth,
				chcm.sys_image_name,
				chcm.create_time,
				chcm.modified_time,
				chcm.support_h264
		from cloud_host_config_model chcm
		where chcm.id = #{id}
	</select>
	<select id="getCloudHostConfigModelServiceByImageId" resultMap="CloudHostConfigModel">
		select  chcm.id,
				chcm.name,
				chcm.cpu_core,
				chcm.memory,
				chcm.sys_image_id,
				chcm.sys_disk,
				chcm.data_disk,
				chcm.bandwidth,
				chcm.sys_image_name,
				chcm.create_time,
				chcm.modified_time,
				chcm.support_h264
		from cloud_host_config_model chcm
		where chcm.sys_image_id = #{imageId}
		and chcm.type = 1
	</select>
	<select id="getCloudHostConfigModelByName" resultMap="CloudHostConfigModel">
		select  chcm.id,
				chcm.name,
				chcm.cpu_core,
				chcm.memory,
				chcm.sys_image_id,
				chcm.sys_disk,
				chcm.data_disk,
				chcm.bandwidth,
				chcm.sys_image_name,
				chcm.create_time,
				chcm.modified_time,
				chcm.support_h264
		from cloud_host_config_model chcm
		where chcm.name = #{name}
		and chcm.type = 1
		limit 1
	</select>
	
	<insert id="addType">
		insert into cloud_host_config_model (id,name,cpu_core,memory,sys_image_id,sys_disk,data_disk,bandwidth,sys_image_name,create_time,modified_time,type,support_h264) 
		values (#{id},#{name},#{cpuCore},#{memory},#{sysImageId},#{sysDisk},#{dataDisk},#{bandwidth},#{sysImageName},#{createTime},#{modifiedTime},#{type},#{supportH264})
		
	</insert>
	
	<delete id="deleteType">
		delete from cloud_host_config_model 
		where id = #{id}
	</delete>
	
	<update id="updateById">
		update cloud_host_config_model
			<set>
				name = #{name},
				cpu_core = #{cpuCore},
				memory = #{memory},
				sys_image_id = #{sysImageId},
				sys_disk = #{sysDisk},
				data_disk = #{dataDisk},
				bandwidth = #{bandwidth},
				sys_image_name = #{sysImageName},
				modified_time = #{modifiedTime}
			</set>
		where id = #{id}
	</update>
</mapper>