<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhicloud.ms.mapper.SharedMemoryMapper">

	<resultMap type="com.zhicloud.ms.vo.SharedMemoryVO" id="SharedMemoryVO">
		<id     column="id"       property="id" />
		<result column="name" property="name" />
		<result column="url" property="url" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="secretkey" property="secretkey" />
		<result column="insert_user" property="insert_user" />
		<result column="insert_date" property="insert_date" />
		<result column="available" property="available" />
	</resultMap>

	<select id="queryInfo" resultMap="SharedMemoryVO">
		select 	id,
				name,
				url,
				username,
				password,
				secretkey,
				available,
				insert_user,
				date_format(insert_date,'%Y-%m-%d %H:%i:%s') as insert_date
		from shared_memory t
		where 1=1
	   <if test="name!=null and name!=''">
              and t.name = #{name}
       </if>
	   <if test="url!=null and url!=''">
              and t.url = #{url}
       </if>   
       <if test="id!=null and id!=''">
              and t.id = #{id}
       </if>       
		order by insert_date desc
	</select>
	
	<select id="queryAvailable" resultMap="SharedMemoryVO">
		select 	t.id,
				t.name,
				t.url,
				t.username,
				t.password,
				t.secretkey,
				available,
				insert_user
		from shared_memory t
		where t.available = 'yes'
	</select>
    
	<insert id="addInfo">
		insert into shared_memory (id, name, url, username,
		password, secretkey, insert_user, insert_date) values
		(#{id}, #{name}, #{url}, #{username}, #{password}, #{secretkey},
		#{insert_user}, #{insert_date})
	</insert>
	
	<update id="updateInfo">
		update shared_memory 
		<set>  
			<if test="name!=null and name!=''">
				name = #{name},
			</if>
			<if test="url!=null and url!=''">
				url = #{url},  
			</if>
			<if test="username!=null and username!=''">
				username = #{username},
			</if>	
			<if test="password!=null and password!=''">
				password = #{password},  
			</if>	
			<if test="key!=null and key!=''">
				secretkey = #{secretkey},  
			</if>	
		</set>
		where id = #{id}
	</update>	
	
	<delete id="deleteInfo">
		delete
		from shared_memory
		where id in
		<foreach collection="array" item="item" open="(" close=")" separator=", ">
			#{item}
		</foreach>
	</delete>	
	
	<update id="updateAvailable">
		update shared_memory
		<set>
			available = "yes"
		</set>
		where id = #{id}
	</update>
	
	<update id="setDisable">
		update shared_memory
		<set>
			available = NULL
		</set>
		where available = 'yes'
	</update>
</mapper>
