<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhicloud.ms.mapper.TimerInfoMapper">


	<resultMap type="com.zhicloud.ms.vo.TimerInfoVO" id="TimerInfoVO">
		<id     column="id"       property="id" />
		<result column="create_time" property="createTime" />
		<result column="obj_id" property="objId" />
	</resultMap>


	<select id="queryByKey" resultMap="TimerInfoVO">
		select
		      id,
		      status,
		      type,
		      mode,
		      disk,
		      week,
		      day,
		      hour,
		      minute,
		      second,
		      obj_id,
		      create_time
		 from timer_info
		 where status = 1 and timer_info.timer_key = #{key}

	</select>

    <!-- ***************** -->

    <update id="insertOrUpdate">
		REPLACE INTO timer_info
		(id,status,type,timer_key, mode, disk,week,day,hour,minute,second,obj_id, create_time)
		 values
		 (#{id},#{status},#{type},#{key},#{mode},#{disk},#{week},#{day},#{hour},#{minute},#{second},#{objId},#{createTime});
	</update>
	
	<!-- ***************** -->

</mapper>
