<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhicloud.ms.mapper.WhitelistMapper">


	<resultMap type="com.zhicloud.ms.vo.WhitelistVO" id="WhitelistVO">
		<id     column="rule_id"       property="ruleId" />
		<result column="rule_name"     property="ruleName" />
		<result column="rule_ip"       property="ruleIp" />
		<result column="description"   property="description" />
	</resultMap>


	<select id="getAll" resultMap="WhitelistVO">
		select
		      w.rule_id,
		      w.rule_name,
		      w.rule_ip,
		      w.description 
		 from whitelist w
	</select>
	
	<select id="getByRuleId" resultMap="WhitelistVO">
		select
		      w.rule_id,
		      w.rule_name,
		      w.rule_ip,
		      w.description 
		 from whitelist w
		 where w.rule_id = #{ruleId}
	</select>
	
	<select id="getByRuleName" resultMap="WhitelistVO">
		select
		      w.rule_id,
		      w.rule_name,
		      w.rule_ip,
		      w.description 
		 from whitelist w
		 where w.rule_name = #{ruleName}
	</select>

    <!-- ***************** -->

    <insert id="add">
		insert INTO whitelist
		(rule_id,rule_name, rule_ip, description)
		 values
		 (#{ruleId},#{ruleName},#{ruleIp},#{description});
	</insert>
	
	<!-- ***************** --> 
	
	<update id="update">
	    update whitelist
	    set rule_name = #{ruleName},
	    rule_ip = #{ruleIp},
	    description = #{description}
	    where rule_id = #{ruleId}
	</update>
	
	<delete id="delete">
		delete from whitelist
		where rule_id = #{ruleId}
	</delete>
	
	<delete id="deleteByRuleIds">
		delete from whitelist
		where rule_id in
		<foreach collection="list" item="item" open="(" close=")" separator=", ">
			#{item}
		</foreach>
	</delete>
</mapper>
